<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://dohliam.github.io/dropin-minimal-css/min/water.min.css" type="text/css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-left: 24px;
      }
      .menu {
        background-color: lightblue;
        padding: 5px;
        border-radius: 5px;
      }
    </style>

    <title>DO Tutorials Index</title>
  </head>
  <body>

    <h1 id="article-index">DO Tutorials Index</h1>

    <p>This is a list of <a href="https://www.digitalocean.com/community/tutorials/">Digital Ocean Tutorials</a> in Markdown format. The full collection of Markdown files can be found <a href="https://github.com/opendocs-md/do-tutorials">here</a>.</p>

    <p class="menu"><strong>Languages:</strong> <a href="#de">German</a> (de) · <a href="#en">English</a> (en) · <a href="#es">Spanish</a> (es) · <a href="#fr">French</a> (fr) · <a href="#pt">Portuguese</a> (pt) · <a href="#ru">Russian</a> (ru) · <a href="#zh">Chinese</a> (zh)</p>

<%=$content%>

  </body>
</html>
